body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.listbox {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0px 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.listing-image {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.listing-details {
    padding: 10px 0;
}

.listing-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.listing-info {
    color: #555;
    margin: 5px 0;
}

.listing-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

#listing-container {
    margin-left: 250px;
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    box-sizing: border-box;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Add hover effect and pointer cursor */
nav ul li a:hover {
    color: #ffd700; /* Yellow color on hover */
    cursor: pointer; /* Pointer cursor on hover */
}

main {
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555; /* Darker background color on hover */
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#listing-container {
    margin-left: 250px;
    text-align: center;
}